.home{ 
    color : var(--text-color);
    padding: 0;
    margin: 0;
    background-color: var(--body-bg);
    width: 100vw;
    height: 60vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 91% 97% ,81% 99%, 72% 100%, 66% 100%,53% 99%, 34% 95%, 21% 92%, 7% 89%,0% 88%);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

  }
  
  .home .content {
    display: grid;
    width: 100%;
    max-height: 100%;
    height: 97%;
    grid-template-columns: repeat(2, 1fr);
  
  }
  
  .text-main {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16%;
    margin-left: 25%;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
  
  }
  
  .text-main h1 {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    font-variant: small-caps;
    margin: 0px;
    color: var(--color-h1);
  }
  
  .text-main span {
    font-size: 1rem;
    font-style: italic;
  }
  
  #short-description {
    margin-top: 2%;
    font-size: .8rem;
    width: 85%;
  }
  .img-me {
    display: flex;
  }
  
  .img-me img {
    width: auto;
    margin-top: 5%;
    height: 100%;
  }
  
  