

.nav-bar {
    position: fixed;
    z-index: 1;
}

nav {
    display: grid;
    grid-template-columns: 3fr repeat(5, 2fr) 3fr;
    height: 5vh ;
    width: 100vw;
    padding: 3px;
    align-items: center;
    justify-items: center;
    background-color: var(--body-bg);
    box-shadow: 0px 1px 16px 0px #211f1f;
    z-index: 1;
}

nav span a {
    color: var(--text-color);
    text-decoration: none;
}

nav span a:hover {
    font-size: 23px;
    padding-bottom: 3px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: #fff;

}

