:root{
  --text-color: #666666;
  --body-bg: #171717;
  --about-me-bg: #2b2b2b;
  --color-h1: #fff;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* .Palette_Color_Principal {
  Cod Gray = #171717
  Mine Shaft = #2b2b2b
  Tundora = #404040
  Emperor = #545454
  Dove Gray = #666666
} */

.dark_mode {
  --body-bg: #000;
}


body {
  padding: 0;
  margin: 0 0 0 0;
  max-width: 100%;
  max-height: 100%;
  background-color: var(--about-me-bg);
}
